In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

# Starting with importing of data

In [266]:
train = pd.read_csv(r'E:\Users\quadr\Documents\datascience-arquivos\Analytics Vidhya\Food Demand Prediction\train.csv')

In [267]:
meal_info = pd.read_csv(r'E:\Users\quadr\Documents\datascience-arquivos\Analytics Vidhya\Food Demand Prediction\meal_info.csv')

In [268]:
center_info = pd.read_csv(r'E:\Users\quadr\Documents\datascience-arquivos\Analytics Vidhya\Food Demand Prediction\fulfilment_center_info.csv')

In [269]:
train.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [270]:
meal_info.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [271]:
center_info.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [272]:
train_total = pd.merge(train,meal_info,how = 'left', on = 'meal_id')
train_total = pd.merge(train_total, center_info, how = 'left', on = 'center_id')

In [273]:
train_total.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,55,1885,136.83,152.29,0,0,177,Beverages,Thai,647,56,TYPE_C,2.0
1,1466964,1,55,1993,136.83,135.83,0,0,270,Beverages,Thai,647,56,TYPE_C,2.0
2,1346989,1,55,2539,134.86,135.86,0,0,189,Beverages,Thai,647,56,TYPE_C,2.0
3,1338232,1,55,2139,339.50,437.53,0,0,54,Beverages,Indian,647,56,TYPE_C,2.0
4,1448490,1,55,2631,243.50,242.50,0,0,40,Beverages,Indian,647,56,TYPE_C,2.0

In [274]:
train_total.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760,601.553399,56.614566,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798,66.195914,17.641306,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000,456.000000,23.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000,553.000000,34.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000,596.000000,56.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000,651.000000,77.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000,713.000000,93.000000,7.000000

## We dont seem to have NaN values in the dataframe

In [275]:
train_total.dtypes

id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
num_orders                 int64
category                  object
cuisine                   object
city_code                  int64
region_code                int64
center_type               object
op_area                  float64
dtype: object

## Lets see if we can see any correlation in the data in a chart

### First we have to transform the categorical variables

In [276]:
train_total2 = pd.get_dummies(train_total)

In [277]:
from scipy.stats import pearsonr

In [278]:
correlations = pd.DataFrame()
columns = []
pearson = []
for col in train_total2.columns:
    corr = pearsonr(train_total2[col],train_total2.num_orders)
    columns.append(col)
    pearson.append(pearsonr(train_total2[col],train_total2.num_orders)[0])
    print('A correlação da coluna {} com a variável destino é {}'.format(col,corr))

A correlação da coluna id com a variável destino é (0.0007020588504116839, 0.6352373364455179)
A correlação da coluna week com a variável destino é (-0.017209915179441034, 2.9254578050988314e-31)
A correlação da coluna center_id com a variável destino é (-0.0530346764506818, 1.2944525347781269e-281)
A correlação da coluna meal_id com a variável destino é (0.010596658533092851, 8.057870605279365e-13)
A correlação da coluna checkout_price com a variável destino é (-0.2821083516807993, 0.0)
A correlação da coluna base_price com a variável destino é (-0.22230613814063105, 0.0)
A correlação da coluna emailer_for_promotion com a variável destino é (0.2771468643101163, 0.0)
A correlação da coluna homepage_featured com a variável destino é (0.2944902320686596, 0.0)
A correlação da coluna num_orders com a variável destino é (1.0, 0.0)
A correlação da coluna city_code com a variável destino é (0.04159598504893757, 5.934764781365823e-174)
A correlação da coluna region_code com a variável destino é (0.029744117927573428, 7.088204493175153e-90)
A correlação da coluna op_area com a variável destino é (0.17697628802309753, 0.0)
A correlação da coluna category_Beverages com a variável destino é (0.08610988103422518, 0.0)
A correlação da coluna category_Biryani com a variável destino é (-0.12699560133817936, 0.0)
A correlação da coluna category_Desert com a variável destino é (-0.12937596743800583, 0.0)
A correlação da coluna category_Extras com a variável destino é (0.014124814308892572, 1.3696125756705052e-21)
A correlação da coluna category_Fish com a variável destino é (-0.06726154838587034, 0.0)
A correlação da coluna category_Other Snacks com a variável destino é (-0.0659984761891769, 0.0)
A correlação da coluna category_Pasta com a variável destino é (-0.13012421846832636, 0.0)
A correlação da coluna category_Pizza com a variável destino é (-0.027596513269253685, 1.2626478260956396e-77)
A correlação da coluna category_Rice Bowl com a variável destino é (0.2575843061204328, 0.0)
A correlação da coluna category_Salad com a variável destino é (0.07917162349777618, 0.0)
A correlação da coluna category_Sandwich com a variável destino é (0.18977094671968156, 0.0)
A correlação da coluna category_Seafood com a variável destino é (-0.10176779679294887, 0.0)
A correlação da coluna category_Soup com a variável destino é (-0.07676152543833661, 0.0)
A correlação da coluna category_Starters com a variável destino é (-0.07132679125717843, 0.0)
A correlação da coluna cuisine_Continental com a variável destino é (-0.13251378978796893, 0.0)
A correlação da coluna cuisine_Indian com a variável destino é (-0.04745299439161411, 8.069244317781496e-226)
A correlação da coluna cuisine_Italian com a variável destino é (0.14944302048278513, 0.0)
A correlação da coluna cuisine_Thai com a variável destino é (0.021723959413870057, 8.632282617424724e-49)
A correlação da coluna center_type_TYPE_A com a variável destino é (0.00153517889994333, 0.2995995110165438)
A correlação da coluna center_type_TYPE_B com a variável destino é (0.07332204742868632, 0.0)
A correlação da coluna center_type_TYPE_C com a variável destino é (-0.07364744211703711, 0.0)

In [279]:
correlations['col'] = columns
correlations['pearson'] = pearson

In [280]:
correlations.sort_values(by = 'pearson', ascending=False)

                      col   pearson
8              num_orders  1.000000
7       homepage_featured  0.294490
6   emailer_for_promotion  0.277147
20     category_Rice Bowl  0.257584
22      category_Sandwich  0.189771
11                op_area  0.176976
28        cuisine_Italian  0.149443
12     category_Beverages  0.086110
21         category_Salad  0.079172
31     center_type_TYPE_B  0.073322
9               city_code  0.041596
10            region_code  0.029744
29           cuisine_Thai  0.021724
15        category_Extras  0.014125
3                 meal_id  0.010597
30     center_type_TYPE_A  0.001535
0                      id  0.000702
1                    week -0.017210
19         category_Pizza -0.027597
27         cuisine_Indian -0.047453
2               center_id -0.053035
17  category_Other Snacks -0.065998
16          category_Fish -0.067262
25      category_Starters -0.071327
32     center_type_TYPE_C -0.073647
24          category_Soup -0.076762
23       category_Seafood -0.101768
13       category_Biryani -0.126996
14        category_Desert -0.129376
18         category_Pasta -0.130124
26    cuisine_Continental -0.132514
5              base_price -0.222306
4          checkout_price -0.282108

## There isnt a variable that has a correlation that is out of the ordinary compared to the others, so we are gonna try another method to filter the features

In [281]:
from sklearn.feature_selection import SelectPercentile, f_regression

In [282]:
y = train_total2.num_orders
x = train_total2.drop('num_orders', axis = 1)

In [242]:
percentile = SelectPercentile(f_regression, percentile=80)

## Using the cell above we can see that the optimal percentage of features is 80%

In [203]:
x_new = percentile.fit_transform(x,y)

In [204]:
cols_selected = percentile.get_support(indices=True)

In [205]:
x_new = x.iloc[:,cols_selected]

In [207]:
from sklearn.model_selection import train_test_split

In [208]:
x_train, x_test, y_train, y_test = train_test_split(x_new, y, test_size = 0.3, random_state = 42)

In [209]:
from sklearn import linear_model

In [210]:
lr = linear_model.LinearRegression()

In [211]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [212]:
y_lr = lr.predict(x_test)

In [213]:
from sklearn.metrics import mean_absolute_error

In [214]:
mae_lr = mean_absolute_error(y_test, y_lr)

In [215]:
print(mae_lr/train_total2.num_orders.mean())

0.7442821163126029

## The MAE for the Linear Model is about 74% of the mean
## Lets try another model

In [283]:
import xgboost as xgb

In [222]:
xgb_reg = xgb.XGBRegressor(objective = 'reg:squarederror',alpha = 2, n_estimators = 1000, learning_rate=0.1, max_depth=10 )
xgb_reg.fit(x_train,y_train)

XGBRegressor(alpha=2, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=10, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=1, nthread=None, objective='reg:squarederror',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=None, subsample=1, verbosity=1)

In [223]:
y_xgb = xgb_reg.predict(x_test)

In [224]:
mae_xgb = mean_absolute_error(y_test,y_xgb)

In [225]:
print(mae_xgb/train_total2.num_orders.mean())

0.48928900093136724

In [226]:
pickle.dump(xgb_reg, open('modelxgb.pickle', 'wb'))

## We can see that the xgboost model performs better than the linear model, we are gonna test with the code below whats the optimal number of features

In [ ]:
perc = [10,20,30,40,50,60,70,80,90,100]
for i in perc:
    percentile = SelectPercentile(f_regression, percentile=i)
    x_new = percentile.fit_transform(x,y)
    cols_selected = percentile.get_support(indices=True)
    x_new = x.iloc[:,cols_selected]
    x_train, x_test, y_train, y_test = train_test_split(x_new, y, test_size = 0.3, random_state = 42)
    xgb_reg = xgb.XGBRegressor(objective = 'reg:squarederror',alpha = 2, n_estimators = 1000, learning_rate=0.1, max_depth=10 )
    xgb_reg.fit(x_train,y_train)
    y_xgb = xgb_reg.predict(x_test)
    mae_xgb = mean_absolute_error(y_test,y_xgb)
    print('para {}% das features o erro absoluto médio é {}'.format(i,mae_xgb))

### The optimal number of features is 80%, we will try another 2 models, LGBM and CatBoost

In [245]:
!pip install catboost
!pip install lightgbm

Collecting catboost
  Using cached https://files.pythonhosted.org/packages/be/60/7cc3411e1262ae2b5a000dda8bb9fab3fb8c35ebf9e1a2423fcfd107c4d3/catboost-0.20.1-cp37-none-win_amd64.whl
Collecting plotly (from catboost)
  Using cached https://files.pythonhosted.org/packages/8e/ce/6ea5683c47b682bffad39ad41d10913141b560b1b875a90dbc6abe3f4fa9/plotly-4.4.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.16.0 in c:\users\quadr\anaconda3\lib\site-packages (from catboost) (1.18.0)
Requirement already satisfied: six in c:\users\quadr\anaconda3\lib\site-packages (from catboost) (1.12.0)
Requirement already satisfied: matplotlib in c:\users\quadr\anaconda3\lib\site-packages (from catboost) (3.0.2)
Collecting pandas>=0.24.0 (from catboost)
  Using cached https://files.pythonhosted.org/packages/02/d0/1e8e60e61e748338e3a40e42f5dfeee63ccdecfc4f0894122b890bfb009a/pandas-0.25.3-cp37-cp37m-win_amd64.whl
Collecting graphviz (from catboost)
  Using cached https://files.pythonhosted.org/packages/f5/74/dbed754c0abd63768d3a7a7b472da35b08ac442cf87d73d5850a6f32391e/graphviz-0.13.2-py2.py3-none-any.whl
Requirement already satisfied: scipy in c:\users\quadr\anaconda3\lib\site-packages (from catboost) (1.1.0)
Collecting retrying>=1.3.3 (from plotly->catboost)
Requirement already satisfied: cycler>=0.10 in c:\users\quadr\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\quadr\anaconda3\lib\site-packages (from matplotlib->catboost) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\quadr\anaconda3\lib\site-packages (from matplotlib->catboost) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\quadr\anaconda3\lib\site-packages (from matplotlib->catboost) (2.7.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\quadr\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2018.7)
Requirement already satisfied: setuptools in c:\users\quadr\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (40.6.3)
Installing collected packages: retrying, plotly, pandas, graphviz, catboost
  Found existing installation: pandas 0.23.4
    Uninstalling pandas-0.23.4:
      Successfully uninstalled pandas-0.23.4

Could not install packages due to an EnvironmentError: [WinError 5] Acesso negado: 'C:\\Users\\quadr\\AppData\\Local\\Temp\\pip-uninstall-uuzkzbmm\\users\\quadr\\anaconda3\\lib\\site-packages\\pandas\\io\\msgpack\\_packer.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/1f/cb/a8ec24334c35a7d0c87b4e4e056bd2137573c7c1bd81c760b79a2f370254/lightgbm-2.3.1-py2.py3-none-win_amd64.whl (544kB)
Requirement already satisfied: numpy in c:\users\quadr\anaconda3\lib\site-packages (from lightgbm) (1.18.0)
Requirement already satisfied: scikit-learn in c:\users\quadr\anaconda3\lib\site-packages (from lightgbm) (0.20.1)
Requirement already satisfied: scipy in c:\users\quadr\anaconda3\lib\site-packages (from lightgbm) (1.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.1

In [284]:
import lightgbm as lgb

In [301]:
percentile = SelectPercentile(f_regression, percentile=80)
x_new = percentile.fit_transform(x,y)
cols_selected = percentile.get_support(indices=True)
x_new = x.iloc[:,cols_selected]
x_train, x_test, y_train, y_test = train_test_split(x_new, y, test_size = 0.3, random_state = 42)
xgb_reg = xgb.XGBRegressor(objective = 'reg:squarederror',alpha = 2, n_estimators = 1000, learning_rate=0.1, max_depth=10 )
xgb_reg.fit(x_train,y_train)
y_xgb = xgb_reg.predict(x_test)
mae_xgb = mean_absolute_error(y_test,y_xgb)
print('MAE XGB = {}'.format(mae_xgb))

C:\Users\quadr\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

MAE XGB = 86.08000948564602

In [302]:
percentile = SelectPercentile(f_regression, percentile=80)
x_new = percentile.fit_transform(x,y)
cols_selected = percentile.get_support(indices=True)
x_new = x.iloc[:,cols_selected]
x_train, x_test, y_train, y_test = train_test_split(x_new, y, test_size = 0.3, random_state = 42)
lgbm_reg = lgb.LGBMRegressor( n_estimators = 1000, learning_rate=0.1, max_depth=10 )
lgbm_reg.fit(x_train,y_train)
y_lgbm = lgbm_reg.predict(x_test)
mae_lgbm = mean_absolute_error(y_test,y_lgbm)
print('MAE LGBM = {}'.format(mae_lgbm))

MAE LGBM = 87.98768132289639

In [251]:
import catboost as cb

ModuleNotFoundError: No module named 'catboost'

## Trying on the test set

In [303]:
sample_submission = pd.read_csv(r'E:\Users\quadr\Documents\datascience-arquivos\Analytics Vidhya\Food Demand Prediction\sample_submission.csv')

In [304]:
test = pd.read_csv(r'E:\Users\quadr\Documents\datascience-arquivos\Analytics Vidhya\Food Demand Prediction\test.csv')

In [305]:
test_total = pd.merge(test,meal_info,how = 'left', on = 'meal_id')
test_total = pd.merge(test_total, center_info, how = 'left', on = 'center_id')

In [306]:
x_new.columns

Index(['center_id', 'checkout_price', 'base_price', 'emailer_for_promotion',
       'homepage_featured', 'city_code', 'region_code', 'op_area',
       'category_Beverages', 'category_Biryani', 'category_Desert',
       'category_Fish', 'category_Other Snacks', 'category_Pasta',
       'category_Rice Bowl', 'category_Salad', 'category_Sandwich',
       'category_Seafood', 'category_Soup', 'category_Starters',
       'cuisine_Continental', 'cuisine_Indian', 'cuisine_Italian',
       'center_type_TYPE_B', 'center_type_TYPE_C'],
      dtype='object')

In [307]:
test_total2 = pd.get_dummies(test_total)

In [312]:
test_total3 = test_total2[['id','center_id', 'checkout_price', 'base_price', 'emailer_for_promotion',
       'homepage_featured', 'city_code', 'region_code', 'op_area',
       'category_Beverages', 'category_Biryani', 'category_Desert',
       'category_Fish', 'category_Other Snacks', 'category_Pasta',
       'category_Rice Bowl', 'category_Salad', 'category_Sandwich',
       'category_Seafood', 'category_Soup', 'category_Starters',
       'cuisine_Continental', 'cuisine_Indian', 'cuisine_Italian',
       'center_type_TYPE_B', 'center_type_TYPE_C']]

In [310]:
test_total3['num_orders'] = xgb_reg.predict(test_total3.iloc[:,1:])
predict_xgb = test_total3[['id', 'num_orders']]
num = predict_xgb._get_numeric_data()
num[num < 0] = 0
predict_xgb.set_index('id').to_csv('predict_xgbrev1.csv')

C:\Users\quadr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [313]:
test_total3['num_orders'] = lgbm_reg.predict(test_total3.iloc[:,1:])
predict_lgbm = test_total3[['id', 'num_orders']]
num = predict_lgbm._get_numeric_data()
num[num < 0] = 0
predict_lgbm.set_index('id').to_csv('predict_lgbmrev1.csv')

C:\Users\quadr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.